<body>
    <nav>
        <mat-toolbar class="sticky">
            <mat-toolbar-row *ngIf="!deviceXs" >
                <div fxLayout="row">
                    
                    <img src="../assets/cart.png" alt="" class="main_logo">
                    <span class="logo">Shopping cart</span>

                </div>
                <div  fxLayoutAlign="end" class="toolbar-spacer">
                    <button mat-button class="active" routerLink="/product/home"><mat-icon>home</mat-icon> Home</button>
                    <button mat-button routerLink="/product/add"><mat-icon>add_shopping_cart</mat-icon> Add Product</button>
                    <button mat-button routerLink="/product/myCart"><mat-icon [matBadge]="cartCount"  matBadgePosition="before"  matBadgeColor="warn">shopping_cart</mat-icon> My Cart</button>
                    <button mat-button routerLink="/product/myOrder"><mat-icon>shopping_bag</mat-icon> My Order</button>
                    <button mat-button (click)="logout()"><mat-icon>logout</mat-icon> Logout</button>
                </div>
            </mat-toolbar-row>

            <mat-toolbar-row *ngIf="deviceXs">
                <img src="../assets/cart.png" alt="" class="main_logo">
                    <span class="logo">Shopping cart</span>

                <!-- <button   button class="menu" mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon class="menuIcon">menu</mat-icon>
                </button> -->
                <lib-buttion class="menu menuIcon"  [iconName]="'menu'" (click)="sidenav.toggle()"></lib-buttion>
                <div class="side content">
                    <mat-sidenav mode="side" #sidenav  position="start">
                        <div class="allButtons">
                            <button mat-button class="menus" routerLink="/product/home" (click)="sidenav.toggle()"><mat-icon>home</mat-icon> Home</button>
                            <br> <button mat-button class="menus" routerLink="/product/add" (click)="sidenav.toggle()"><mat-icon> add_shopping_cart</mat-icon>Add Product</button>
                            <br><button mat-button class="menus" routerLink="/product/myCart" (click)="sidenav.toggle()"><mat-icon  [matBadge]="cartCount"  matBadgePosition="after"  matBadgeColor="warn">  shopping_cart</mat-icon> &nbsp; My Cart</button>
                            <br><button mat-button class="menus" routerLink="/product/myOrder" (click)="sidenav.toggle()"><mat-icon> shopping_bag</mat-icon>My Orders</button>
                            <br><button mat-button class="menus" routerLink="/user/login" (click)="sidenav.toggle()"><mat-icon>person</mat-icon> Logout</button>
                        </div>
                    </mat-sidenav>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </nav>
</body>