
<app-nav-bar [deviceXs]="deviceXs"></app-nav-bar>


<h1 style="margin-top: 30px;">Ordered History</h1>

<!-- filter code -->

<mat-form-field class="filter" appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput  (keyup)="applyFilter($event)" placeholder="Ex. mobile" #input>
</mat-form-field>

<!-- actual code for material table generation -->

<div class="example-container mat-elevation-z8">

<mat-table #table [dataSource]="dataSource" matSort>


  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ORDER ID</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="mobile-label">ID:</span>
      {{element.id}}
     </mat-cell>
  </ng-container>


  <ng-container matColumnDef="productName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>PRODUCT NAME </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="mobile-label">PRODUCT NAME:</span>
      {{element.productName}}
       </mat-cell>
  </ng-container>


  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header> PRICE </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="mobile-label">PRICE:</span>
      {{element.price}}
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header> DATE </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="mobile-label">DATE:</span>
      {{element.date | date}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header> STATUS </mat-header-cell>

    <mat-cell *matCellDef="let element">
      <span class="mobile-label">STATUS:</span>

      <span class="status">Success
        <mat-icon>check_circle</mat-icon>
        </span>
    </mat-cell>

  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
