<body>
    <app-nav-bar [deviceXs]="deviceXs"></app-nav-bar>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="100%" fxFlex.xs="100%">
            <mat-card class="bgcolor" fxLayoutAlign="center center">
                <form [formGroup]="paymentDetails" (ngSubmit)="payment()" autocomplete="off">
                    <mat-card-header>
                        <p>
                            <mat-label style="font-size: larger;">Payment Details</mat-label>
                        </p>
                    </mat-card-header>


                    <mat-card-content class="payment">

                        <br>

                        <img mat-card-image src="../assets/RuPay.png" alt=""> &nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <img mat-card-image src="../assets/mv1.jpeg" alt="">

                        <!-- hidden="true" -->
                        <p class="space" >
                            <mat-form-field appearance="standard">

                                <input  matInput formControlName="cardHolderName" placeholder="Card Holder Name">
                                <mat-icon matSuffix>account_circle</mat-icon>

                            </mat-form-field>
                        </p>

                        <p>
                            
                                    <!-- <input id="cardNumber" matInput type="text" formControlName="cardNumber" placeholder="xxxx xxxx xxxx xxxx" credit-card>
                                     -->
                                    <lib-ccinput-box [placeholderText]="'xxxx xxxx xxxx xxxx'" [iconText]="'credit_card'"></lib-ccinput-box> 
                                    
                      
                        </p>

                        <p class="space" fxLayout="row" fxLayoutAlign="center center">
                            <mat-form-field appearance="standard" class="month">
                                <mat-label>MONTH</mat-label>

                                <mat-select [(value)]="selected">
                                    <mat-option value="1"> 1</mat-option>
                                    <mat-option value="2"> 2</mat-option>
                                    <mat-option value="3"> 3</mat-option>
                                    <mat-option value="4"> 4</mat-option>
                                    <mat-option value="5"> 5</mat-option>
                                    <mat-option value="6"> 6</mat-option>
                                    <mat-option value="7"> 7</mat-option>
                                    <mat-option value="8"> 8</mat-option>
                                    <mat-option value="9"> 9</mat-option>
                                    <mat-option value="10"> 10</mat-option>
                                    <mat-option value="11"> 11</mat-option>
                                    <mat-option value="12"> 12</mat-option>
                                </mat-select>
                            </mat-form-field>

                            &nbsp;
                            &nbsp;
                            &nbsp;

                            <mat-form-field appearance="standard" class="year">
                                <mat-label>YEAR</mat-label>
                                <mat-select [(value)]="selected1">
                                    <mat-option value="2021"> 2021</mat-option>
                                    <mat-option value="2022"> 2022</mat-option>
                                    <mat-option value="2023"> 2023</mat-option>
                                    <mat-option value="2024"> 2024</mat-option>
                                    <mat-option value="2025"> 2025</mat-option>
                                    <mat-option value="2025"> 2026</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </p>

                        <p>
                            <mat-form-field appearance="standard" class="cvv">
                                <input matInput type="password" formControlName="CVV" placeholder="CVV">
                            </mat-form-field>
                        </p>

                    </mat-card-content>


                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button [disabled]="paymentDetails.invalid" mat-raised-button type="submit" color="primary">PAY
                            <mat-icon matSuffix>payments</mat-icon>
                        </button>
                    </div>
                    <br>
                </form>
            </mat-card>
        </div>
    </div>
</body>
